# ignore eveything
/*

# include .gitignore
!.gitignore

# plugins to include
# !fe-example-plugin/
!fe-demo-admin-footer-text.php
!fe-demo-close-comments-filter.php
!fe-demo-content-disclaimer.php
!fe-demo-login-screen-msg.php
!fe-demo-mod-excerpt-ellipsis.php
!fe-demo-phil-no.php
!fe-demo-rss-advert.php
